### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
/node_modules
bower_components

*.sublime*

psd
thumb
sketch

template

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

### visual studio dependencies ###
*.suo
*.ncb
*.user
*.aps
*.cachefiles